body {
    background-color: bisque;
}

h1 {
    color: darkkhaki;
    text-align: center;
    border: 2px solid crimson;
}


input {
    padding: 10px;
    background-color: antiquewhite;
    border: 1px dashed royalblue;
    border-radius: 5%;
    height: 30px;
    width: 190px;
}

#sticky {
    position: fixed;
    bottom: 0;
    border-top: 2px dashed salmon;
    width: 100%;
    padding: 10px;
    text-align: center;
}

@keyframes fade {
    from {
        background-color: bisque;
        color: darkcyan
    }

    to {
        background-color: darkcyan;
        color: aqua;
    }
}

a {
    padding: 4px;
    border: 1px double dodgerblue;
    text-decoration: none;
    color: darkcyan;
    background-color: bisque;
}

a:hover {
    background-color: darkcyan;
    color: aqua;
    animation-name: fade;
    animation-duration: 2s;
}
